div .blog-post-preview {
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
div .blog-post-preview-last {
  width: 100%;
  border-bottom: 0;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

h4,
h3 {
  font-size: 1rem;
  font-weight: 300;
}
h1 {
  font-weight: 300;
  font-size: 1.62671rem;
}
h2 {
  font-weight: 300;
  font-size: 1.3rem;
}
.blackLink {
  color: black;
  text-decoration-line: none;
}
a {
  text-decoration-line: none;
  color: #3c5a99;
}
a:hover {
  text-decoration: underline;
}

#unavailable {
  color: lightgray;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.Card {
  margin-top: 20px;
}
.sidebarContent {
  padding-top: 10px;
}
#active {
  text-decoration: underline;
}
.headerText {
  color: white;
}
