div.blog-post-preview {
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h4,
h3 {
  font-size: 1rem;
  font-weight: 200;
}
h1 {
  font-weight: 100;
  font-size: 1.62671rem;
}
h2 {
  font-weight: 100;
  font-size: 1.3rem;
}
* {
  color: black;
  text-decoration-line: none;
}
#unavailable {
  color: lightgray !important;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
